html{
  background-image: url(clouds-background.jpg);
}
{
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  .container {
    text-align: left;
    max-width: 100000px;
    border-radius: 300px;
    padding: 1px;
    background-color: rgb(226, 186, 148);
  }
  video{
    max-width: 950px;
    max-height: 1000px;
    border-radius: 100px;
  }
  
  .column {
    float: left;
    width: 700px;
    margin-top: 6px;
    padding: 80px;
  }
  .column1 {
    float: right;
    width: 600px;
    margin-top: 10px;
    padding: 100px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  h3{
    text-align: center;
    color: rgb(148, 198, 226);
    font-size: 80px;
    font-family:fantasy;
    text-shadow: 5px 0 black, -5px 0 black, 0 5px black, 0 -5px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  }
  h4{
    text-align: left;
    color: rgb(148, 226, 183);
    font-size: 40px;
    font-family:fantasy;
    text-shadow: 5px 0 black, -5px 0 black, 0 5px black, 0 -5px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  }
 a{
  color: white;
  background-color: black;
 }
img{
 border-radius: 100px;
 width: 100px;
 height: 800px;
}