html{
  background-image: url(clouds-background.jpg);
}

img{
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.container:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  h3{
    text-align: center;
    color: rgb(148, 198, 226);
    font-size: 80px;
    font-family:fantasy;
    text-shadow: 5px 0 black, -5px 0 black, 0 5px black, 0 -5px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  }
 