* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    text-align: left;
    max-width: 1000px;
    border-radius: 50px;
    background-image: url(soft-green-jpg.jpg);
    padding: 5px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  h3{
    text-align: center;
    color: rgb(148, 198, 226);
    font-size: 80px;
    font-family:fantasy;
    text-shadow: 5px 0 black, -5px 0 black, 0 5px black, 0 -5px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  }
  h4{
    text-align: left;
    color: rgb(148, 226, 183);
    font-size: 40px;
    font-family:fantasy;
    text-shadow: 5px 0 black, -5px 0 black, 0 5px black, 0 -5px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  }
 a{
  color: white;
  background-color: black;
 }